<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DynamicFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DynamicSVProgressHUD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>DynamicWithDynamic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>DynamicWithStatic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>FrameworkDemos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NewBundle.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>StaticFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>StaticSVProgressHUD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>StaticWithDynamic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>StaticWithStatic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>StaticeLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B63A8EB41F43EB320021ADEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B63A8ED21F43EB750021ADEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6A589BF1F43FFA500A57D95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6A589D11F44003500A57D95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6A58A071F440BE000A57D95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6A58A151F440D0200A57D95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6A58A201F440D5800A57D95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6A58A2F1F441C9400A57D95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6D1B0521F443B5B00D402C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6D1B0DC1F4453A400D402C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6D1B1131F44592400D402C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6D1B16F1F4464F000D402C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6D1B1CF1F454E8A00D402C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6D1B20E1F4570EB00D402C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
